*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ion-toolbar{
    --background: teal;
    color: white;
}
ion-item{
    margin-top: 10px;
}
ion-button{
    --background: burlywood;
    color: white;
    width: 60%;
    margin-top: 30px;
    margin-left: 20%;
}