

#container{
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
}


ion-toolbar{
    height: 22vh;
    width: 100%;
  
    --background: linear-gradient(162deg, rgba(56, 70, 108, .2) 20%, rgba(56, 70, 108, .2) 100%), url('https://t2.ev.ltmcdn.com/es/posts/8/3/1/fotos_de_paisajes_naturales_138_orig.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: crimson;
  }
  
  .out{
      position: absolute;
      top: 9vh;
      left: 8vw;
      z-index: 99;
    
    
    
    background-color: white;
    height: 17vh;
    border-radius: 50%;
    border: 4px solid rgb(216, 213, 213);
   
  }
  
  
  h3{
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    top: 4vh;
    left: 10vw;
     z-index: 99;
    letter-spacing: 0.5px;
  }
  .aligment{
    position: absolute;
    top: 15.5vh;
    left: 76vw;
     z-index: 99;
  }
  h5{
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    top: 11vh;
    left: 46vw;
     z-index: 99;
    letter-spacing: 0.5px;
  }
  
  ion-chip{
    color: #ffffff;
    text-transform: capitalize;
    
    font-size: 16px;
    position: absolute;
    top: 15vh;
    left: 45vw;
     z-index: 99;
    letter-spacing: 0.5px;
  }
  
  .menu{
  margin-top: 25px;
  
    ion-icon{
      color: rgb(40 208 148);
    }
  
    ion-label{
      font-weight: bold;
      font-size: 13px;
      letter-spacing: 1px;
    }
  }

  .active{
    width: 15px;
    border-radius: 50%;
    height: 15px;
    top: 21vh;
    left: 33vw;
    position: absolute;
    background-color: #28d094;
    z-index: 100;
  }

  ion-segment{
      margin-top: 70px;
      margin-left: 20%;
      width: 60%;
  }
  .infobtn{
      --background:#56b4d1;
      --color: white;
   
    --color-checked: black;
    --background-checked: transparent!;
  }
.valuebtn{
    --background:#ede730;;
    --color: black;
 
  --color-checked: black;
  --background-checked: transparent!;
}

ion-fab-button{
    --background: #d91f1f;
    width: 30px;
    height: 30px;

}

.logopsi{
    width: 80px;
    height: 80px;
    background-color: #c7c7c7;
    border-radius: 50%;
    border: 2px solid black;
    margin-left: 40%;
}

h2{
    text-align: center;
}

ion-list{
    padding-left: 10%;
    margin-top: 20px;
}

.punt{
  width: 80%;
  margin: 0 auto;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.container2{
  img{
    width: 60%;
    margin-left: 20%;
    height: 200px;
  }
  h4{
    text-align: center;
  }
}

.puntajeactual{
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
    ion-label{
      font-size: 25px;
      margin-right: 10px;

    }
    ion-icon{
      font-size: 20px;
    }
}

.dataloader{
  --background: rgb(44, 114, 155);
  --spinner-color: rgb(26, 136, 121);

}