*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header{
    background-color: #930534;
    height: 25vh;
    
    font-size: 22px;
    display: block;
    font-weight: bold;
    font-style: italic;
    padding-top: 10px;
    text-align: center;   
    color: white;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    
    font-style: italic;
}
.registerlogo{
    width: 40%;
    height: 90%;

}
.form{
    padding: 20px;
}
ion-toolbar{
    text-align: center;
}

ion-item{
    margin-bottom: 10px;
    border-radius: 20px;
    box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.08);
}

.error{
    text-align: end;
    padding-right: 20px;
}
.title{
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
}
.foot{
    padding-left: 20px;
    padding-right: 20px;
}

ion-footer{
    position: absolute;
}

