<ion-app>
  <ion-menu menuId="menuhome" contentId="main">
    <ion-content>
      <div class="menu-header"></div>
      <div class="header-content">
        <img src="assets/icon/user.png">
        <ion-label>
          <p>{{nombrecompleto}}</p>
          <ion-label>{{tipo}}</ion-label>
        </ion-label>
      </div>
      <ion-button (click)="logout()" expand="full" class="logout-btn">
        <ion-icon name="log-out"></ion-icon>Salir
      </ion-button>
     <ion-list class="items-list"   lines="none">
        <ion-item  (click)="rout()" detail  button="true" >
          <ion-icon icon='person' ></ion-icon> Perfil
        </ion-item>
        <ion-item (click)="home()" detail   button="true">
          <ion-icon  icon='list'></ion-icon> Pacientes Asignados
        </ion-item>
       
     </ion-list>
   
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
