#container {
    text-align: center;
  
    
    padding: 30px;
    left: 0;
    right: 0;
    top: 50%;
    }
  
  
    .logosuper{
      position: absolute;
      width: 80vw;
      left: 10vw;
      border-radius: 20px;
      top:45vh;
    }
  
  ion-content{
    padding: 50px;
    ion-item{
      border-radius: 40px;
      box-shadow: 1px 8px 8px 5px rgba(0, 0, 0, 0.08);
    }
    .user{
      margin-bottom: 20px;
    }
    .password{
      margin-bottom:30px;
    }
    .btn{
  
      margin-bottom: 30px;
    }
  
    .register{
      display: flex;
        justify-content: flex-end;
        align-items: center;
        font-style: italic;
        font-weight: bold;
        font-size: 15px;
        margin-right: 10px;   
     }
  
  }


  ion-segment{
    width: 60%;
    margin-left: 20%;
    margin-top: 20px;
  }
  
.pac{
  width: 60%;
  margin-left: 20%;
  border-radius: 10px;
  border: 1px solid black;

  ion-icon{
    color: #a2a7cc;
  }
  margin-top: 20px;
}

.loginpac{
  --background: #0094db;
  margin-top: 40px;
  width: 60%;
  margin-left: 2%;
}