

<ion-content [fullscreen]="true">
  <ion-segment (ionChange)="segmentChanged($event)" value="psi" mode="ios">
    <ion-segment-button  value="psi">
      <ion-label>Psicologo</ion-label>
    </ion-segment-button>
    <ion-segment-button value="pac">
      <ion-label>Paciente</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div id="container" *ngIf="value=='psi'">

    <div >
      <img src="assets/icon/logologin.png">
    
      <img class="logosuper" src="assets/icon/logooido.png">
    </div>
     <ion-item class="user"> 
    <ion-input type="text" [(ngModel)]="usuario.username"  placeholder="Usuario"></ion-input>
    <ion-icon position="final" color="primary" name="person-circle-outline"></ion-icon>
  </ion-item>
    <ion-item   class="password">
   
     
    <ion-input  #passwordEyeRegister  [type]="passwordTypeInput" placeholder="Contraseña" [(ngModel)]="usuario.password"></ion-input>
   <ion-icon [name]="iconpassword" color="primary" (click)="togglePasswordMode()"></ion-icon>

  </ion-item>
  
 
  
    <ion-button expand="full" class="btn"  (click)="login()" shape="round">
  Ingresar
 <ion-icon name="log-in-outline" slot="start"></ion-icon>
</ion-button>
 <div class="register">
    <u  (click)="registrarpac()">Registrar solicitud</u>
    <ion-icon name="document-text-outline"></ion-icon>
     </div>
  </div>
  
  


  <!-- ***********************Pac Login ********************************-->
  <div id="container" *ngIf="value=='pac'">

    <div >
      <img src="assets/icon/loginpac.png">
    
      <img class="logosuper" src="assets/icon/logooido.png">
    </div>
     <ion-item class="pac"> 
    <ion-input type="text" [(ngModel)]="nro_cita"  placeholder="Nro Atencion"></ion-input>
   
    <ion-icon position="final" name="information-circle"></ion-icon>
  </ion-item>
    <ion-item  class="pac">
   
     
    <ion-input   placeholder="D.N.I" [(ngModel)]="dni"></ion-input>
   
   <ion-icon name="finger-print"></ion-icon>
  
  </ion-item>
  
  
  
    <ion-button class="loginpac" (click)="loginpac()" >Ingresar
  <ion-icon name="log-in-outline" slot="start"></ion-icon>
  </ion-button>
 
  </div>






</ion-content>


