<ion-toolbar>
  <ion-title>Cancelar Atencion</ion-title>
</ion-toolbar>

<ion-content>
  <ion-item>
    <ion-label >Paciente:</ion-label>
   <ion-icon slot="start" name="body"></ion-icon>
   
    <ion-input type="text" disabled [(ngModel)]="paciente"></ion-input>
  </ion-item>
  <ion-item>
    <ion-icon slot="start" name="chatbox-ellipses"></ion-icon>
    <ion-label >Motivo:</ion-label>
    
  </ion-item>
  <ion-textarea  [(ngModel)]="motivo" placeholder="El motivo por ...."></ion-textarea>

  <ion-button (click)="cancelaratencion()" [attr.disabled]="motivo.length<5"><ion-icon slot="start" name="checkmark-done"></ion-icon>  Cancelar Atencion</ion-button>
</ion-content>