

ion-card{
    box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.2);
}
component-card .coworker-card .header-img {
    height: 160px;
  }
  
  component-card .coworker-card h1 {
    font-weight: 600;
    font-size: 18px;
  }
  
  component-card .coworker-card p {
    color: var(--text-light);
  }
  
  component-card .coworker-card ion-icon {
    align-self: start;
    margin-top: 10px;
    margin-right: 29px;
  
    color: var(--text-lightest);
  }

  ion-label h2,h1,p{
      margin-bottom: 0px;
  }
  .out_content{
    position: absolute;
    top: 9vh;
    left: 37vw;
     z-index: 2;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-content: center;
    background-color:white ;
    box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.2);

  }
  .out{
      
      height: 15vh;
     
  }

  .content_perf{
      margin-top: 50px;
      margin-left: 20px;
      border-radius: 20px;
      margin-right: 20px;
  }
  .ion-text-center{
      margin-right: 40px;
  }
  ion-toolbar{
    --border-width:1;
    --border-color: #930534;
    
  }