<ion-toolbar color="primary" >
  <ion-menu-button slot="start" menu="menuhome"></ion-menu-button>
  <ion-title class="ion-text-center" >Perfil </ion-title>
  
 
   
</ion-toolbar>
<ion-content >
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#930534" fill-opacity="1" d="M0,192L21.8,160C43.6,128,87,64,131,74.7C174.5,85,218,171,262,202.7C305.5,235,349,213,393,186.7C436.4,160,480,128,524,117.3C567.3,107,611,117,655,128C698.2,139,742,149,785,144C829.1,139,873,117,916,112C960,107,1004,117,1047,144C1090.9,171,1135,213,1178,202.7C1221.8,192,1265,128,1309,101.3C1352.7,75,1396,85,1418,90.7L1440,96L1440,0L1418.2,0C1396.4,0,1353,0,1309,0C1265.5,0,1222,0,1178,0C1134.5,0,1091,0,1047,0C1003.6,0,960,0,916,0C872.7,0,829,0,785,0C741.8,0,698,0,655,0C610.9,0,567,0,524,0C480,0,436,0,393,0C349.1,0,305,0,262,0C218.2,0,175,0,131,0C87.3,0,44,0,22,0L0,0Z"></path></svg>
<div class="out_content">
  <img src="assets/icon/avataruser.png" class="out"/>
 </div>

      <ion-card   class="content_perf" >
          
            <img src="assets/icon/upeulogo.jpg" class="header-img"/>
         
          <ion-card-content>
            <ion-list lines="none">
              <ion-item>
                 <ion-icon name="person-circle-outline" slot="start"></ion-icon>
                <ion-label>
                  <h2>{{nombrecompleto}}</h2>
                  <p>{{tipo  }}</p>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-icon name="call" slot="start"></ion-icon>
                <ion-label>
                  <h2>{{telefono}}</h2>
                  <p>Numero de telefono</p>
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-icon name="mail" slot="start"></ion-icon>
                <ion-label>
                  <h2>{{correo}}</h2>
                  <p>Correo electronico</p>
                </ion-label>
              </ion-item>
            
            </ion-list>
          </ion-card-content>
        </ion-card>

</ion-content>
 